pandas_ta
lightgbm
gunicorn
redis
pandas
numpy<1.24
psycopg2 
python-binance>=1.0.16
requests>=2.31.0
Flask
python-decouple
APScheduler
scikit-learn==1.1.3
waitress
psycopg2-binary
pandas_ta 
ta
xgboost
tqdm
imblearn
scikit-optimize
websockets
aiohttp
waitress
flask-cors
# requirements.txt
binance-connector
psycopg2-binary
python-decouple
tenacity
imbalanced-learn
optuna
ta
